

/* Footer */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-subscribe .subscribe-form {
    flex-direction: column;
    align-items: center;
  }

  .subscribe-form input {
    max-width: 100%;
  }
}