@media (min-width: 769px) {
  nav {
    padding: 10px 30px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: var(--color-primary);
    color: white;
    position: relative;
    height: 70px;
  }

  nav ul {
    display: flex;
    gap: 30px;
    justify-content: center; 
    align-items: center;
    margin: 0;
    padding: 0;
  }


  #menu-icon,
  #close-icon {
    display: none;
  }

  #menu-list {
    max-height: none;
    overflow: visible;
  }
}