:root {
  /* Colors */
  --color-primary: #185ba7;
  --color-secondary: #3bb4ec;
  --color-tertiary: #030303;
  --color-background: #f4f4f4;
  --color-accent: lightbrown;
  --color-text: #333;

  /* Font Sizes */
  --paragraph-size: 12px;

  /* Shadows */
  --shadow-small: 0px 1px 3px rgba(0, 0, 0, 0.2);
  --shadow-medium: 0px 4px 6px rgba(0, 0, 0, 0.2);
  --shadow-large: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--paragraph-size);
  line-height: 1.5;
  background-color: var(--color-background);
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

main {
  margin: 2rem;
  padding: 0 4rem;
}

/*------------------- HEADER -------------------*/

/* NavBar */

nav {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  color: white;
  position: relative;
  height: 70px;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  list-style: none;
  font-weight: 600;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: var(--color-secondary);
}
nav ul li a.active {
  color: var(--color-secondary);
}

/* Menu and Close Icons */
#menu-icon,
#close-icon {
  display: none;
  cursor: pointer;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1001;
}

/* Small Screen */
@media (max-width: 768px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-primary);
    gap: 0;
    overflow: hidden;
  }

  nav ul li {
    padding: 10px 0;
  }

  #menu-icon,
  #close-icon {
    display: block;
  }

  #menu-list {
    transition: all 0.7s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }
}

/* Profile */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--color-secondary);
}
.profile img {
  width: 100px;
  height: 100%;
  border-radius: 50%;
  box-shadow: var(--shadow-medium);
}

.profile span {
  font-size: 22px;
  font-weight: 600;
  color: white;
  margin: 0;
}

/*-------------- Sections ----------------*/

section {
  background-color: var(--color-background);
  box-shadow: var(--shadow-large);
  border-radius: 4px;
  margin: 40px auto;
  text-align: center;
}

section ul li {
  list-style: none;
  padding: 10px;
  font-size: var(--paragraph-size);
}

section h2 {
  background-color: var(--color-primary);
  color: white;
  font-weight: 500;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

/* Malawi Section */

.zebra-img {
  width: 100%;
  height: auto;
  margin: 20px auto;
  padding: 20px;
}

figcaption {
  font-size: 10px;
  color: var(--color-tertiary);
  padding: 10px;
  text-align: center;
}

/* Certificate Section */
.section-certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Course Filter */

.course-filter {
  height: 80px;
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: rgb(224, 219, 219);
  margin: 0 auto;
  width: 100%;
}

.course-filter ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 10px;
}

.course-filter-item {
  background-color: var(--color-tertiary);
  color: white;
  padding: 10px 10px;
  width: 100px;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: var(--shadow-small);
}

.course-filter-item:hover {
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
}

.course-filter-item.active {
  background-color: var(--color-primary);
  color: white;
}

/* course */
.course-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.course-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.course-item {
  color: var(--color-tertiary);
  background-color: #e4e4e4;
  padding: 10px 10px;
  margin: 10px;
  width: 200px;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: var(--shadow-small);
}

/* Footer */
footer {
  grid-area: footer;
  background-color: var(--color-primary);
  color: white;
  text-align: center;
  padding: 10px;
}

.footer-text {
  font-weight: 600;
}

.footer-modified {
  font-style: italic;
}
